@using Orchard.UI.Resources;
@{
    RegisterLink(new LinkEntry { Type = "text/css", Rel = "stylesheet", Href = Href("../css/site.css") }); 
    Model.Id = "layout-wrapper";
    if (Model.Overflow != null) {
        Model.Classes.Add("off-canvas-wrap");
    }
    var tag = Tag(Model, "div"); // using Tag so the layout div gets the classes, id and other attributes added to the Model
}
@tag.StartElement
<div class="inner-wrap">
    @if (Model.Overflow != null)
    {
        @Display(Model.Overflow)    
    }
    @if (Model.Navigation != null)
    {
        @Display(Model.Navigation)            
    }
    @if (Model.Overflow != null)
    {
        <a class="exit-off-canvas" href="#"></a>
    }
    @if (Model.Featured != null)
    {
        @Display(Model.Featured)
    }
    <section role="main">
    @if (Model.SideNav != null)
    {
        <div class="row">
            <div class="large-3 medium-4 columns">
                @Display(Model.SideNav)
            </div>
            @if (Model.Content != null)
            {
            <div class="large-9 medium-8 columns">
                @Display(Model.Content)
            </div>
            }
        </div>
    }
    else if (Model.Content != null)
    {
        <div class="row centered-text">
            @Display(Model.Content)
        </div>
    }

    </section>
</div>
@tag.EndElement