@using Orchard.ContentManagement
@using Orchard.Mvc.Html;

@{
    Style.Require("Icons_Foundation").AtHead();
    var userCanRegister = WorkContext.CurrentSite.As<Orchard.Users.Models.RegistrationSettingsPart>().UsersCanRegister;
    var enableLostPassword = WorkContext.CurrentSite.As<Orchard.Users.Models.RegistrationSettingsPart>().EnableLostPassword;
}


    <div class="row">
        <div class="large-7 large-centered medium-10 medium-centered small-12 small-centered columns">
                @*<p>To login to Grapto you can use your Google, Twitter, Facebook or Windows account. If you don't have or don't want to use any of these providers, we encourage you to create your personal Grapto account.</p>*@
                <h2>login with your doticca account</h2>
            @*<p>
                @T("Enter your username/email and your password.")
            </p>*@

                @*@if (userCanRegister)
                {
                    <p>
                        @Html.ActionLink(T("Register").Text, "Register") @T(" if you don't have an account.")
                    </p>
                }*@




            <div class="signup-panel">
                @using (Html.BeginFormAntiForgeryPost(Url.Action("LogOn", new { ReturnUrl = Request.QueryString["ReturnUrl"] }), FormMethod.Post, new { @class = "grapto-form grapto-form-login form-horizontal", role = "form" }))
                {
                    <div class="row collapse">
                        @Html.ValidationSummary(T("Login was unsuccessful. Please correct the errors and try again.").ToString())
                    </div>
                        <div class="row collapse">
                            <div class="small-2 medium-1 large-1 columns">
                                <span class="prefix"><i class="fi-mail"></i></span>
                            </div>
                            <div class="small-10 medium-11 large-11 columns">
                                @Html.TextBox("userNameOrEmail", "", new { id = "username-email", autofocus = "autofocus", @class = "form-control", placeholder = "Username or Email" })
                            </div>
                        </div>

                        <div class="row collapse">
                            <div class="small-2 medium-1 large-1 columns">
                                <span class="prefix"><i class="fi-lock"></i></span>
                            </div>
                            <div class="small-10 medium-11 large-11 columns">
                                @Html.Password("password", "", new { @class = "form-control", placeholder = "Password" })
                            </div>
                        </div>


                        <button type="submit">@T("Sign In")</button>
                        }
                @*<p class="info">*@
                    @if (enableLostPassword)
                    {
                        <a class="info" href="/Users/Account/RequestLostPassword">Lost your Password?</a>
                        <br />
                    }
                @*</p>*@
                @*<p class="info">*@
                    @if (userCanRegister)
                    {
                        @Html.ActionLink(T("Create a new account").Text, "Register", new { }, new { @class = "info" })
                        <br />
                    }
                @*</p>*@
                    </div>

                @*<p>I just want to visit <a href="/channels">channels and applications <i class="fa fa-arrow-circle-o-right"></i></a></p>*@
            </div>

    </div>